.hero-corporate-container .hero-corporate-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-corporate {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-corporate h1,
.hero-corporate h2,
.hero-corporate h3,
.hero-corporate h4,
.hero-corporate h5,
.hero-corporate h6,
.hero-corporate p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-corporate.no-image * {
  color: var(--text-color);
}

.hero-corporate picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-corporate img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-corporate {
    padding: 40px 32px;
  }
}
