main > .section.hero-corporate-container {
  margin: 0;
}

.hero-corporate-container .hero-corporate-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-corporate {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px 80px;
  overflow: hidden;
}

.hero-corporate h1,
.hero-corporate h2,
.hero-corporate h3,
.hero-corporate h4,
.hero-corporate h5,
.hero-corporate h6,
.hero-corporate p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  position: relative;
  z-index: 2;
}

.hero-corporate h1 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xxl);
  font-weight: 100;
  line-height: 1.35;
  margin-bottom: 30px;
}

.hero-corporate p {
  position: relative;
  z-index: 2;
}

.hero-corporate a.button:any-link {
  position: relative;
  z-index: 2;
  padding: 13px 30px;
}

.hero-corporate a.button:any-link::after {
  content: "\203A";
  margin-left: 6px;
  font-size: 16px;
}

.hero-corporate.no-image h1,
.hero-corporate.no-image h2,
.hero-corporate.no-image h3,
.hero-corporate.no-image p {
  color: var(--text-color);
}

.hero-corporate picture {
  position: absolute;
  z-index: 0;
  inset: 0;
  box-sizing: border-box;
}

.hero-corporate picture::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 35%);
  z-index: 1;
}

.hero-corporate img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-corporate {
    min-height: 500px;
    padding: 280px 20px 215px;
  }
}
